.cars-list {
  max-width: 900px;
  margin: 3rem auto;
  text-align: center;

  &__title {
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem 0;
    color: #87878f;
  }

  &__subtitle {
    font-size: 0.9rem;
    color: #aeadb6;
    margin: 0 1rem;

    &::after {
      content: "";
      display: block;
      width: 10%;
      height: 3px;
      background-color: var(--primary);
      margin: 1.5rem auto 3rem;
    }
  }

  &--list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
}
