<section class="hero">
  <image-slider [slides]="images"></image-slider>
  <div class="hero__body">
    <h1 class="hero__title">Rent your Dream Car</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
      aliquid iure quaerat aperiam at odit numquam voluptatum sequi.
    </p>
    <a class="button button--cirle hero__button" href="#cars-list">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        width="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 8.25l-7.5 7.5-7.5-7.5"
        />
      </svg>
    </a>
  </div>
</section>
